<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="phase2_MVN001.MVN_Listeners002"></listener>
	</listeners>
	<test thread-count="5" name="Maven">
		<classes>
			<class name="phase2_MVN001.MVN001" />
			<class name="phase2_MVN001.MVN002" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
